@use 'src/styles/constants/colors';

.menuContainer {
  position: fixed;
  bottom: 50px;
  display: flex;
  justify-content: space-around;
  width: 600px;
  color: colors.$WHITE;

  &::after {
    position: absolute;
    content: 'ㅣ';
  }

  a {
    color: colors.$WHITE;
    cursor: pointer;
  }
}
