@use 'src/styles/constants/colors';

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1px);

  .modalBody {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 888;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 550px;
    height: 80%;
    background-color: colors.$WHITE;
    border-radius: 20px;
    transform: translate(-50%, -50%);

    h2 {
      font-size: 50px;
    }

    p {
      font-size: 25px;
    }

    .buttonBox {
      display: flex;
      justify-content: space-around;
      width: 300px;

      button {
        font-size: 20px;
      }
    }
  }
}
