@use 'src/styles/constants/colors';

.movieList {
  ul {
    .movieCard {
      position: relative;
      display: flex;
      width: 280px;
      height: 120px;
      margin-bottom: 20px;
      background-color: #272936;
      border-radius: 10px;

      &::after {
        position: absolute;
        bottom: 88%;
        left: 40%;
        width: 40px;
        height: 30px;
        content: '';
        background-color: #171723;
        border-radius: 50%;
      }

      &::before {
        position: absolute;
        top: 88%;
        left: 40%;
        width: 40px;
        height: 30px;
        content: '';
        background-color: #171723;
        border-radius: 50%;
      }

      .poster img {
        width: 70px;
        height: 100px;
        margin: 10px;
        border-radius: 10px;
      }

      .title {
        position: relative;
        top: 25%;
        left: 0%;
        overflow: hidden;
        color: colors.$WHITE;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .year {
        position: absolute;
        top: 40%;
        left: 32%;
        color: colors.$WHITE;
      }

      .type {
        position: absolute;
        top: 55%;
        left: 32%;
        color: colors.$WHITE;
      }
    }
  }
}
